* {
  font-family: "Roboto", sans-serif;
}

:root {
  --main-color: $main-color;
  --main-bg-color: $main-bg-color;
  --filter-bg-color: $filter-bg-color;
}

h1,
p,
h2 {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.fa-solid {
  color: black;
}

body {
  max-width: 430px;
  margin: 0;
}

.btn {
  font-size: 1rem;
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
  color: white;
  height: 50px;
  width: 218px;
  border-radius: 25px;
  border: none;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.14);
}

.head {
  height: 63px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 10px;
  position: relative;
}

.intro {
  display: flex;
  flex-direction: column;
}
.intro .localisation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #EAEAEA;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  height: 50px;
}
.intro .localisation input::-moz-placeholder {
  font-weight: bold;
  color: black;
}
.intro .localisation input::placeholder {
  font-weight: bold;
  color: black;
}
.intro .localisation form {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.intro .localisation .ville {
  background-color: #EAEAEA;
  border: 0px;
  font-size: 1.2rem;
  font-weight: 500;
}
.intro .intro-txt {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  gap: 20px;
  background-color: #f4f4f4;
  text-align: center;
  font-size: larger;
}
.intro .intro-txt p {
  color: #353535;
}
.intro .fonctionnement {
  font-size: 1.2rem;
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.intro .fonctionnement .step {
  display: flex;
  background-color: #f4f4f4;
  border-radius: 25px;
  font-size: 1.2rem;
  height: 73px;
  width: 322.49px;
  padding: 10px 20px 10px 20px;
  position: relative;
}
.intro .fonctionnement .step .sous-step {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  padding-left: 15px;
}
.intro .fonctionnement .step .sous-step .circle-num {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background-color: #9356DC;
  position: absolute;
  left: -10px;
}
.intro .restaurants {
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  padding: 40px 20px 40px 20px;
}
.intro .restaurants .card {
  background-color: white;
  border-radius: 20px;
  padding-bottom: 10px;
  position: relative;
}
.intro .restaurants .card img {
  width: 100%;
  height: 200px;
  border-radius: 20px 20px 0px 0px;
  -o-object-fit: cover;
     object-fit: cover;
}
.intro .restaurants .card .etiquette p {
  background-color: #99E2D0;
  color: #008766;
  display: inline-block;
  padding: 5px 10px;
  font-size: 0.8rem;
  position: absolute;
  top: 15px;
  right: 15px;
}
.intro .restaurants .card .card-content {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 25px;
}
.intro .restaurants .card .card-content .card-txt {
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 10px;
  gap: 4px;
}
.intro .restaurants .card .card-content .card-txt .heart {
  position: absolute;
  top: 15px;
  right: 15px;
}
.intro .restaurants .card .card-content .card-txt .card-title {
  font-size: 20px;
}
.intro .restaurants .card .card-content .card-txt .card-subtitle {
  font-weight: lighter;
}
.intro .footer {
  background-color: #353535;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.intro .footer .footer-name {
  color: white;
  font-style: italic;
  font-weight: bold;
  font-size: 1.5rem;
  padding-bottom: 15px;
}
.intro .footer .footer-name p {
  font-family: "Shrikhand", serif;
}
.intro .footer .footer-link {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.intro .footer .footer-link .no-underline {
  text-decoration: none;
}
.intro .footer .footer-link a {
  color: white;
}
.intro .footer .footer-link .link-icon {
  font-weight: bold;
}
.intro .pp img {
  height: 275px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  position: relative;
}
.intro .arrow {
  position: absolute;
  left: 30px;
}
.intro .menu {
  background-color: #F6F6F6;
  border-radius: 40px 40px 0 0;
  position: relative;
  margin-top: -50px;
}
.intro .menu .menu-name {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  padding: 40px 10px 20px 10px;
  font-size: 1.4rem;
}
.intro .menu .menu-name h1 {
  font-family: "Shrikhand", serif;
}
.intro .menu .menu-catego {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 25px;
}
.intro .menu .menu-catego .catego-name {
  width: 50px;
  border-bottom: 3px #99E2D0 solid;
  font-size: 1.5rem;
}
.intro .menu .menu-catego .met-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  height: 60px;
  padding: 10px;
  background-color: white;
  border-radius: 15px;
}
.intro .menu .menu-catego .met-name .met-subname {
  font-size: 1.2rem;
}
.intro .menu .menu-catego .met-name .subtitle-met-name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: lighter;
}
.intro .menu .menu-catego .met-name .subtitle-met-name .prix {
  font-weight: 900;
}
.intro .menu .btn-cta {
  display: flex;
  justify-content: center;
  padding: 20px 0 40px 0;
}/*# sourceMappingURL=style.css.map */