// Variables
$main-color: #9356DC;
$main-bg-color: #FF79DA;
$filter-bg-color: #99E2D0;
$gray-bg: #f4f4f4;
$white: white;
$black: black;
$dark-gray: #353535;
$green: #99E2D0;
$shadow: 0px 4px 10px 0px rgb(0 0 0 / 14%);
$gradient-btn: linear-gradient(to bottom, #FF79DA, #9356DC);

// Mixins pour les polices
@mixin font-roboto {
    font-family: "Roboto", sans-serif;
}

@mixin font-shrikhand {
    font-family: "Shrikhand", serif;
}

// Global Styles
* {
    @include font-roboto;
}

:root {
    --main-color: $main-color;
    --main-bg-color: $main-bg-color;
    --filter-bg-color: $filter-bg-color;
}

h1,
h2,
h3 {
    margin: 0;
    font-size: 1.5rem;
}

p {
    margin: 0;
    font-size: 1.5;
}


a {
    color: inherit;
    text-decoration: none;
}

body {
    margin: 0;
}

main {
    min-width: 320px;
    box-sizing: border-box;
    padding: 0;
    width: 100%;
}

// Animations & Transition

.load {
    background-color: white;
    width: 100%;
    height: 100%;
    margin: 0;
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    animation: apparition 3s both;
    z-index: 10;

    @keyframes apparition {

        99% {
            width: 100%;
            height: 100%;
            z-index: 10;
            opacity: 1;
        }

        100% {
            opacity: 0;
            width: 0;
            height: 0;
            z-index: -10;
        }
    }

    .loader {
        display: block;
        background-color: white;
        border: 16px dotted;
        border-color: $main-color;
        width: 120px;
        height: 120px;
        margin: auto;
        margin-top: 100px;
        margin-bottom: 100px;
        border-radius: 50%;
        position: relative;
        z-index: 10;
        animation-name: chargement;
        animation-duration: 3s;


        @keyframes chargement {
            0% {
                rotate: 0deg;
            }

            50% {
                rotate: 360deg
            }

            99% {
                width: 120px;
                height: 120px;
                margin: auto;
                margin-top: 100px;
                margin-bottom: 100px;
                z-index: 10;
            }

            100% {
                rotate: 720deg;
                visibility: hidden;
                width: 0;
                height: 0;
                margin: 0;
                z-index: -1;
            }
        }
    }
}

.btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    background: $gradient-btn;
    color: white;
    height: 50px;
    width: 218px;
    border-radius: 25px;
    border: none;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.14);
    cursor: pointer;
    position: relative;
    transition: background 0.3s ease;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.1);
        border-radius: 25px;
        opacity: 0;
        transition: opacity 0.3s ease;
    }

    &:hover {
        background: linear-gradient(to bottom, #FF9DEA, #A37BFF);

        &::after {
            opacity: 1;
        }
    }
}

.heart {
    display: flex;
    align-items: center;
    font-size: 25px;
    padding-right: 25px;

    .fa-full:hover {
        color: transparent;
        background-clip: text;
        background-image: linear-gradient(180deg, rgb(147, 86, 220) -11%, rgb(255, 121, 218) 123%);
        opacity: 1;
        transition-duration: 800ms;
        cursor: pointer;
    }
}

// Head
.head {
    height: 63px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 10px;
    position: relative;
}

// Section Intro
.intro {
    display: flex;
    flex-direction: column;


    .localisation {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background-color: #EAEAEA;
        box-shadow: inset -6px -5px 6px rgba(0, 0, 0, 0.1);
        height: 50px;

        input::placeholder {
            font-weight: bold;
            color: $black;
            text-align: center;
        }

        form {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;
        }

        .ville {
            background-color: #EAEAEA;
            border: 0px;
            font-size: 1.2rem;
            font-weight: 500;
        }
    }

    .intro-txt {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 50px;
        gap: 20px;
        background-color: $gray-bg;
        text-align: center;
        font-size: larger;

        p {
            color: #353535;
        }
    }
}

// Section Fonctionnement
.fonctionnement {

    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 25px;

    .step-media {
        display: flex;
        flex-direction: column;
        gap: 25px;
        font-size: 1.2rem;
        padding-left: 5px;
        width: 100%;
    }

    .step {
        display: flex;
        background-color: $gray-bg;
        box-shadow: 7px 7px 6px rgba(0, 0, 0, 0.1);
        border-radius: 25px;
        font-size: 1.2rem;
        height: 73px;
        width: 322.49px;
        padding: 10px 20px 10px 20px;
        position: relative;

        .sous-step {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            gap: 15px;
            padding-left: 15px;

            .circle-num {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                color: $white;
                height: 24px;
                width: 24px;
                border-radius: 50%;
                background-color: $main-color;
                position: absolute;
                left: -10px;
            }
        }
    }
}

// Restaurant Card
.card {
    position: relative;

    .heart {
        position: absolute;
        bottom: 50px;
        left: 350px;
    }
}

.restaurants {
    background-color: $gray-bg;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    padding: 40px 20px 40px 20px;

    .restaurants-media {
        display: flex;
        flex-direction: column;
        gap: 20px;

    }

    .card {
        background-color: $white;
        border-radius: 20px;
        padding-bottom: 10px;
        position: relative;


        img {
            width: 100%;
            height: 200px;
            border-radius: 20px 20px 0px 0px;
            object-fit: cover;
        }

        .etiquette p {
            background-color: $green;
            color: #008766;
            display: inline-block;
            padding: 5px 10px;
            font-size: 0.8rem;
            position: absolute;
            top: 15px;
            right: 15px;
        }

        .card-content {
            display: flex;
            flex-direction: column;
            background-color: $white;
            border-radius: 25px;

            .card-txt {
                text-decoration: none;
                color: inherit;
                display: flex;
                flex-direction: column;
                position: relative;
                padding: 10px;
                gap: 4px;


                .card-subtitle {
                    font-weight: lighter;
                }
            }
        }
    }
}

// Footer
.footer {
    background-color: $dark-gray;
    display: flex;
    flex-direction: column;
    padding: 20px;

    .footer-name {
        color: $white;
        font-style: italic;
        font-weight: bold;
        font-size: 1.5rem;
        padding-bottom: 15px;

        p {
            @include font-shrikhand;
        }
    }

    .footer-link {
        display: flex;
        flex-direction: column;
        gap: 5px;

        .no-underline {
            text-decoration: none;
        }

        a {
            color: $white;
        }

        .link-icon {
            font-weight: bold;
        }
    }
}

// Page Restaurant HTML (restau1.html)
.pp img {
    height: 275px;
    object-fit: cover;
    width: 100%;
    position: relative;

}

.arrow {
    position: absolute;
    left: 30px;
}

.menu {
    background-color: #F6F6F6;
    border-radius: 40px 40px 0 0;
    margin-top: -50px;
    position: relative;

    .menu-name {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
        padding: 40px 10px 20px 10px;
        font-size: 1.4rem;
        position: relative;

        h2 {
            @include font-shrikhand;
            font-size: 2rem;
        }

        .heart {
            position: absolute;
            top: 45px;
            right: 15px;
        }
    }

    .menu-catego {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 25px;

        .starter {
            display: flex;
            flex-direction: column;
            gap: 20px;
            animation-name: fondu;
            animation-duration: 6.5s;
            animation-timing-function: ease;
            animation-fill-mode: forwards;

            @keyframes fondu {
                0% {
                    opacity: 0;
                    visibility: hidden;
                }

                100% {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }

        .maindish {
            display: flex;
            flex-direction: column;
            gap: 20px;
            animation-name: fondu;
            animation-duration: 6.5s;
            animation-timing-function: ease;
            animation-fill-mode: forwards;
            animation-delay: 1s;
            visibility: hidden;

            @keyframes fondu {
                0% {
                    opacity: 0;
                    visibility: hidden;
                }

                100% {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }

        .dessert {
            display: flex;
            flex-direction: column;
            gap: 20px;
            animation-name: fondu;
            animation-duration: 6.5s;
            animation-timing-function: ease;
            animation-fill-mode: forwards;
            animation-delay: 2s;
            visibility: hidden;

            @keyframes fondu {
                0% {
                    opacity: 0;
                    visibility: hidden;
                }

                100% {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }

    .catego-name {
        width: 50px;
        border-bottom: 3px $filter-bg-color solid;
        font-size: 1.5rem;
    }

    .met-name {
        display: flex;
        flex-direction: column;
        gap: 5px;
        height: 60px;
        padding: 10px;
        background-color: $white;
        border-radius: 15px;
        cursor: pointer;
        position: relative;

        .selection {
            position: absolute;
            right: 0px;
            bottom: 0px;
            top: -20px;
            left: 260px;
            width: 100px;
            height: 100%;
            background-color: $green;
            border-radius: 10px;
            margin: 20px;
            transform: translateX(80%);
            visibility: hidden;
            transition: transform 0.5s ease, opacity 0.5s ease;

            .fa-square-check {
                position: absolute;
                top: 30px;
                right: 40px;
            }
        }

        &:hover .selection {
            transform: translateX(0%);
            visibility: visible;
        }

        .met-subname {
            font-size: 1.2rem;
            white-space: nowrap;
            overflow: visible;
            text-overflow: clip;
            width: auto;
        }

        .subtitle-met-name {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            font-weight: lighter;
            white-space: nowrap;
            overflow: visible;
            text-overflow: clip;
            width: auto;

            .prix {
                font-weight: 900;
                transform: translateX(0);
                transition: transform 0.5s ease;
            }
        }

        /* hover des éléments*/
        &:hover .met-subname {
            overflow: hidden;
            text-overflow: ellipsis;
        }

        &:hover .subtitle-met-name {
            overflow: hidden;
            text-overflow: ellipsis;
        }

        &:hover .subtitle-met-name .prix {
            transform: translateX(-100px);
        }
    }
}

.btn-cta {
    display: flex;
    justify-content: center;
    padding: 20px 0 40px 0;
}

/********Media Queries*******/
//Desktop & Tablette devices
@media (min-width: 768px) {

    body {
        min-width: 100%;
        max-width: 100%;
    }

    .fonctionnement {
        height: 228px;
        display: flex;
        align-items: flex-start;
        padding-left: 50px;
        gap: 25px;
        justify-content: center;

        .step-media {
            display: flex;
            flex-direction: row;
            gap: 50px;
        }
    }

    .card {
        position: relative;

        .heart {
            position: absolute;
            bottom: 25px;
            left: 450px;
        }
    }

    .restaurants {
        display: flex;
        flex-direction: column;
        padding-bottom: 10px;
        max-width: 100%;

        h2 {
            padding-left: 50px;
        }

        .restaurants-media {
            display: grid;
            grid-template-columns: repeat(2, 0fr);
            grid-gap: 70px;
            width: 100%;
            justify-content: center;

            .card {
                width: 490px;
                gap: 0px;
                border-radius: 15px;
                opacity: 0px;

                .card-txt {
                    padding: 20px;
                }
            }
        }
    }

    .footer {
        display: flex;
        flex-direction: row-reverse;
        gap: 50px;
        align-items: center;
        height: 114px;
        max-width: 100%;

        .footer-name {
            font-size: 1rem;
            padding: 0 20px 0 0;
        }


        .footer-link {
            display: flex;
            flex-direction: row;
            gap: 40px;
        }
    }

    .pp img {
        height: 383px;
    }

    .menu {
        width: 75%;
        margin-left: 10%;

        .menu-name {
            justify-content: center;
            position: relative;


            .heart {
                position: absolute;
                top: 48px;
                right: 20%;
            }
        }

        .menu-catego {
            padding: 25px 150px 25px 150px;

            .selection {
                position: absolute;
                right: -10px;
                bottom: 0px;
                top: -20px;
                left: 90%;
            }

            .color-checkbox:checked+.selection+.met-subname+.subtitle-met-name .prix {
                transform-origin: right;
                transition: all 450ms ease;
                transform: translateX(-80px);
            }
        }
    }
}